<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eventb.codegen.il1.translator" name="IL1 EMF translators" schema="schema/org.eventb.codegen.il1.translator.exsd"/>
   <extension-point id="org.eventb.codegen.il1.translatorProvider" name="Translator Provider" schema="schema/org.eventb.codegen.il1.translatorProvider.exsd"/>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="MIL1SelectionNew"
            objectClass="org.eventb.core.IEventBRoot">
         <menu
               id="org.eventb.codegen.translation.menu1"
               label="Code Generation"
               path="additions">
         </menu>
         <!--<action
               class="org.eventb.codegen.il1.translator.TranslateFromEventBToJava"
               id="org.eventb.codegen.translation.menu1.action.TranslateEventBToJava"
               label="Translate EventB to Java"
               menubarPath="org.eventb.codegen.translation.menu1/groupA">
         </action>-->
         <action
               class="org.eventb.codegen.il1.translator.TranslateFromEventBToC_OpenMP_C"
               id="org.eventb.codegen.translation.menu1.action.TranslateEventBToC"
               label="Translate EventB to C"
               menubarPath="org.eventb.codegen.translation.menu1/groupA">
         </action>
         <action
               class="org.eventb.codegen.il1.translator.TranslateFromEventBToPrimeCpp"
               id="org.eventb.codegen.translation.menu1.action.TranslateEventBToPrimeCpp"
               label="Translate EventB to PRiME C++"
               menubarPath="org.eventb.codegen.translation.menu1/groupA">
         </action>
         <!--<action
               class="org.eventb.codegen.il1.translator.TranslateFromEventBToAda"
               id="org.eventb.codegen.translation.menu1.action.TranslateEventBToAda"
               label="Translate EventB to Ada"
               menubarPath="org.eventb.codegen.translation.menu1/groupA">
         </action>-->
         <visibility>
            <or>
               <objectClass
                     name="org.eventb.core.IMachineRoot">
               </objectClass>
               <objectClass
                     name="org.eventb.core.IContextRoot">
               </objectClass>
               <objectClass
                     name="ac.soton.composition.core.IComposedMachineRoot">
               </objectClass>
            </or>
         </visibility>
      </objectContribution>
         
   </extension>
   <extension
         name="Ada Translators"
         point="org.eventb.codegen.il1.translator">
      <emfPackage
            SourceName="IL1"
            name="Ada Translators"
            nsURISource="http://il1/1.0">
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.ada.AdaActionIL1Translator"
               coreTargetLanguage="Ada"
               name="AdaActionTranslator"
               sourceClass="Action"
               specificTargetLanguage="Default"
               targetLanguage="Ada">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.ada.AdaElseIfIL1Translator"
               coreTargetLanguage="Ada"
               name="AdaElseIfTranslator"
               sourceClass="ElseIf"
               specificTargetLanguage="Default"
               targetLanguage="Ada">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.ada.AdaIfIL1Translator"
               coreTargetLanguage="Ada"
               name="AdaIfTranslator"
               sourceClass="If"
               specificTargetLanguage="Default"
               targetLanguage="Ada">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.ada.AdaOutputIL1Translator"
               coreTargetLanguage="Ada"
               name="AdaOutputTranslator"
               sourceClass="Output"
               specificTargetLanguage="Default"
               targetLanguage="Ada">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.ada.AdaPreconditionLoopIL1Translator"
               coreTargetLanguage="Ada"
               name="AdaPreconditionLoopTranslator"
               sourceClass="PreconditionLoop"
               specificTargetLanguage="Default"
               targetLanguage="Ada">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.ada.AdaProgramIL1Translator"
               coreTargetLanguage="Ada"
               name="AdaProgramTranslator"
               sourceClass="Program"
               specificTargetLanguage="Default"
               targetLanguage="Ada">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.ada.AdaSeqIL1Translator"
               coreTargetLanguage="Ada"
               name="AdaSeqTranslator"
               sourceClass="Seq"
               specificTargetLanguage="Default"
               targetLanguage="Ada">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.ada.AdaSubroutineIL1Translator"
               coreTargetLanguage="Ada"
               name="AdaSubroutineTranslator"
               sourceClass="Subroutine"
               specificTargetLanguage="Default"
               targetLanguage="Ada">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.ada.AdaAutoTaskIL1Translator"
               coreTargetLanguage="Ada"
               name="AdaAutoTaskTranslator"
               sourceClass="Task"
               specificTargetLanguage="Default"
               targetLanguage="Ada">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.ada.AdaVariableIL1Translator"
               coreTargetLanguage="Ada"
               name="AdaVariableDeclTranslator"
               sourceClass="VariableDecl"
               specificTargetLanguage="Default"
               targetLanguage="Ada">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.ada.AdaConstantIL1Translator"
               coreTargetLanguage="Ada"
               name="AdaConstantDeclTranslator"
               sourceClass="ConstantDecl"
               specificTargetLanguage="Default"
               targetLanguage="Ada">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.ada.AdaEnumerationIL1Translator"
               coreTargetLanguage="Ada"
               name="AdaEnumerationTranslator"
               sourceClass="Enumeration"
               specificTargetLanguage="Default">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.ada.AdaProtectedTranslator"
               coreTargetLanguage="Ada"
               name="AdaProtectedTranslator"
               sourceClass="Protected"
               specificTargetLanguage="Default"
               targetLanguage="Ada">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.ada.AdaCallTranslator"
               coreTargetLanguage="Ada"
               name="AdaCallTranslator"
               sourceClass="Call"
               specificTargetLanguage="Default"
               targetLanguage="Ada">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.ada.AdaEnvironTaskIL1Translator"
               coreTargetLanguage="Ada"
               name="AdaEnvironTaskTranslator"
               sourceClass="EnvironTask"
               specificTargetLanguage="Default"
               targetLanguage="Ada">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.ada.AdaCaseIL1Translator"
               coreTargetLanguage="Ada"
               name="AdaCaseTranslator"
               sourceClass="Case"
               specificTargetLanguage="Default">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.ada.AdaCaseStatementIL1Translator"
               coreTargetLanguage="Ada"
               name="AdaCaseStatementTranslator"
               sourceClass="CaseStatement"
               specificTargetLanguage="Default">
         </il1Translator>
      </emfPackage>
   </extension>
   <extension
         point="org.eventb.codegen.il1.translator">
      <emfPackage
            SourceName="IL1"
            name="C++ Translators OpenMP"
            nsURISource="http://il1/1.0">
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.cpp.CppProgramIL1Translator"
               coreTargetLanguage="C"
               name="CppProgramTranslator"
               sourceClass="Program"
               specificTargetLanguage="CppOpenMP">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.cpp.CppSubroutineTranslator"
               coreTargetLanguage="C"
               name="CppSubroutineTranslator"
               sourceClass="Subroutine"
               specificTargetLanguage="CppOpenMP">
         </il1Translator>
      </emfPackage>
   </extension>
   <extension
         point="org.eventb.codegen.il1.translator">
      <emfPackage
            SourceName="IL1"
            name="Java Translators"
            nsURISource="http://il1/1.0">
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.java.JavaProgramIL1Translator"
               coreTargetLanguage="Java"
               name="JavaProgramTranslator"
               sourceClass="Program"
               specificTargetLanguage="Default">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.java.JavaVariableIL1Translator"
               coreTargetLanguage="Java"
               name="JavaVariableDeclTranslator"
               sourceClass="VariableDecl"
               specificTargetLanguage="Default">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.java.JavaSubroutineIL1Translator"
               coreTargetLanguage="Java"
               name="JavaSubroutineTranslator"
               sourceClass="Subroutine"
               specificTargetLanguage="Default">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.java.JavaActionIL1Translator"
               coreTargetLanguage="Java"
               name="JavaActionTranslator"
               sourceClass="Action"
               specificTargetLanguage="Default">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.java.JavaSeqIL1Translator"
               coreTargetLanguage="Java"
               name="JavaSeqTranslator"
               sourceClass="Seq"
               specificTargetLanguage="Default">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.java.JavaPreconditionLoopIL1Translator"
               coreTargetLanguage="Java"
               name="JavaPreconditionLoopTranslator"
               sourceClass="PreconditionLoop"
               specificTargetLanguage="Default">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.java.JavaOutputIL1Translator"
               coreTargetLanguage="Java"
               name="JavaOutputTranslator"
               sourceClass="Output"
               specificTargetLanguage="Default">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.java.JavaIfIl1Translator"
               coreTargetLanguage="Java"
               name="JavaIfTranslator"
               sourceClass="If"
               specificTargetLanguage="Default">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.java.JavaElseIfIL1Translator"
               coreTargetLanguage="Java"
               name="JavaElseIfTranslator"
               sourceClass="ElseIf"
               specificTargetLanguage="Default">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.java.JavaCallIL1Translator"
               coreTargetLanguage="Java"
               name="JavaCallTranslator"
               sourceClass="Call"
               specificTargetLanguage="Default">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.java.JavaConstantIL1Translator"
               coreTargetLanguage="Java"
               name="JavaConstantDeclTranslator"
               sourceClass="ConstantDecl"
               specificTargetLanguage="Default">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.java.JavaTaskIL1Translator"
               coreTargetLanguage="Java"
               name="JavaTaskTranslator"
               sourceClass="Task"
               specificTargetLanguage="Default">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.java.JavaSubroutineIL1Translator"
               coreTargetLanguage="Java"
               name="JavaSubroutineTranslator"
               sourceClass="Subroutine"
               specificTargetLanguage="Default">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.java.JavaProtectedIL1Translator"
               coreTargetLanguage="Java"
               name="JavaProtectedTranslator"
               sourceClass="Protected"
               specificTargetLanguage="Default">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.java.JavaEnvironTaskIL1Translator"
               coreTargetLanguage="Java"
               name="JavaEnvironTaskTranslator"
               sourceClass="EnvironTask"
               specificTargetLanguage="Default">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.java.JavaEnumerationIL1Translator"
               coreTargetLanguage="Java"
               name="JavaEnumerationTranslator"
               sourceClass="Enumeration"
               specificTargetLanguage="Default">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.java.JavaCaseIL1Translator"
               coreTargetLanguage="Java"
               name="JavaCaseTranslator"
               sourceClass="Case"
               specificTargetLanguage="Default">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.java.JavaCaseStatementIL1Translator"
               coreTargetLanguage="Java"
               name="JavaCaseStatementTranslator"
               sourceClass="CaseStatement"
               specificTargetLanguage="Default">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.java.JavaSkipIL1Translator"
               coreTargetLanguage="Java"
               name="JavaSkipTranslator"
               sourceClass="Skip"
               specificTargetLanguage="Default">
         </il1Translator>
      </emfPackage>
   </extension>
   <extension
         point="org.eventb.codegen.il1.translator">
      <emfPackage
            SourceName="IL1"
            name="C Translators"
            nsURISource="http://il1/1.0">
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.c.CTaskTranslator"
               coreTargetLanguage="C"
               name="CTaskTranslator"
               sourceClass="Task"
               specificTargetLanguage="Default"
               targetLanguage="C">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.c.CVariableTranslator"
               coreTargetLanguage="C"
               name="CVariableDeclTranslator"
               sourceClass="VariableDecl"
               specificTargetLanguage="Default"
               targetLanguage="C">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.c.CSubroutineTranslator_Open_MP"
               coreTargetLanguage="C"
               name="CSubroutineTranslator_Open_MP"
               sourceClass="Subroutine"
               specificTargetLanguage="OpenMP"
               targetLanguage="C">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.c.CSubroutineTranslator_Default"
               coreTargetLanguage="C"
               name="CSubroutineTranslator_Default"
               sourceClass="Subroutine"
               specificTargetLanguage="Default"
               targetLanguage="C">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.c.CActionTranslator"
               coreTargetLanguage="C"
               name="CActionTranslator"
               sourceClass="Action"
               specificTargetLanguage="Default"
               targetLanguage="C">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.c.CSeqTranslator"
               coreTargetLanguage="C"
               name="CSeqTranslator"
               sourceClass="Seq"
               specificTargetLanguage="Default"
               targetLanguage="C">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.c.CPreconditionLoopTranslator"
               coreTargetLanguage="C"
               name="CPreconditionLoopTranslator"
               sourceClass="PreconditionLoop"
               specificTargetLanguage="Default"
               targetLanguage="C">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.c.COutputTranslator"
               coreTargetLanguage="C"
               name="COutputTranslator"
               sourceClass="Output"
               specificTargetLanguage="Default"
               targetLanguage="C">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.c.CIfTranslator"
               coreTargetLanguage="C"
               name="CIfTranslator"
               sourceClass="If"
               specificTargetLanguage="Default"
               targetLanguage="C">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.c.CElseIfTranslator"
               coreTargetLanguage="C"
               name="CElseIfTranslator"
               sourceClass="ElseIf"
               specificTargetLanguage="Default"
               targetLanguage="C">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.c.CEnvironTranslator"
               coreTargetLanguage="C"
               name="CEnvironTaskTranslator"
               sourceClass="EnvironTask"
               specificTargetLanguage="Default"
               targetLanguage="C">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.c.CCallTranslator"
               coreTargetLanguage="C"
               name="CCallTranslator"
               sourceClass="Call"
               specificTargetLanguage="Default"
               targetLanguage="C">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.c.CProtectedTranslator"
               coreTargetLanguage="C"
               name="CProtectedTranslator"
               sourceClass="Protected"
               specificTargetLanguage="Default"
               targetLanguage="C">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.c.CConstantTranslator"
               coreTargetLanguage="C"
               name="CConstantDeclTranslator"
               sourceClass="ConstantDecl"
               specificTargetLanguage="Default"
               targetLanguage="C">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.c.CProgramTranslator"
               coreTargetLanguage="C"
               name="CProgramTranslator"
               sourceClass="Program"
               specificTargetLanguage="OpenMP"
               targetLanguage="C">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.c.CEnumerationTranslator"
               coreTargetLanguage="C"
               name="CEnumerationTranslator"
               sourceClass="Enumeration"
               specificTargetLanguage="Default">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.c.CCaseTranslator"
               coreTargetLanguage="C"
               name="CCaseTranslator"
               sourceClass="Case"
               specificTargetLanguage="Default">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.c.CCaseStatementTranslator"
               coreTargetLanguage="C"
               name="CCaseStatementTranslator"
               sourceClass="CaseStatement"
               specificTargetLanguage="Default">
         </il1Translator>
      </emfPackage>
   </extension>
  <extension
         point="org.eventb.codegen.il1.translator">
      <emfPackage
            SourceName="IL1"
            name="PRiME CPP Translators"
            nsURISource="http://il1/1.0">
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.primecpp.PrimeCppTaskTranslator"
               coreTargetLanguage="Cpp"
               name="PrimeCppTaskTranslator"
               sourceClass="Task"
               specificTargetLanguage="Default">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.primecpp.PrimeCppVariableTranslator"
               coreTargetLanguage="Cpp"
               name="PrimeCppVariableDeclTranslator"
               sourceClass="VariableDecl"
               specificTargetLanguage="Default"
               >
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.primecpp.PrimeCppSubroutineTranslator"
               coreTargetLanguage="Cpp"
               name="PrimeCppSubroutineTranslator"
               sourceClass="Subroutine"
               specificTargetLanguage="Default"
               >
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.primecpp.PrimeCppActionTranslator"
               coreTargetLanguage="Cpp"
               name="PrimeCppActionTranslator"
               sourceClass="Action"
               specificTargetLanguage="Default"
               >
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.primecpp.PrimeCppSeqTranslator"
               coreTargetLanguage="Cpp"
               name="PrimeCppSeqTranslator"
               sourceClass="Seq"
               specificTargetLanguage="Default">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.primecpp.PrimeCppOutputTranslator"
               coreTargetLanguage="Cpp"
               name="PrimeCppOutputTranslator"
               sourceClass="Output"
               specificTargetLanguage="Default"
               >
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.primecpp.PrimeCppIfTranslator"
               coreTargetLanguage="Cpp"
               name="PrimeCppIfTranslator"
               sourceClass="If"
               specificTargetLanguage="Default"
               >
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.primecpp.PrimeCppElseIfTranslator"
               coreTargetLanguage="Cpp"
               name="PrimeCppElseIfTranslator"
               sourceClass="ElseIf"
               specificTargetLanguage="Default"
               >
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.primecpp.PrimeCppEnvironTranslator"
               coreTargetLanguage="Cpp"
               name="PrimeCppEnvironTaskTranslator"
               sourceClass="EnvironTask"
               specificTargetLanguage="Default"
               >
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.primecpp.PrimeCppCallTranslator"
               coreTargetLanguage="Cpp"
               name="PrimeCppCallTranslator"
               sourceClass="Call"
               specificTargetLanguage="Default"
               >
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.primecpp.PrimeCppProtectedTranslator"
               coreTargetLanguage="Cpp"
               name="PrimeCppProtectedTranslator"
               sourceClass="Protected"
               specificTargetLanguage="Default"
               >
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.primecpp.PrimeCppConstantTranslator"
               coreTargetLanguage="Cpp"
               name="PrimeCppConstantDeclTranslator"
               sourceClass="ConstantDecl"
               specificTargetLanguage="Default"
               >
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.primecpp.PrimeCppProgramTranslator"
               coreTargetLanguage="Cpp"
               name="PrimeCppProgramTranslator"
               sourceClass="Program"
               specificTargetLanguage="Default"
               >
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.primecpp.PrimeCppEnumerationTranslator"
               coreTargetLanguage="Cpp"
               name="PrimeCppEnumerationTranslator"
               sourceClass="Enumeration"
               specificTargetLanguage="Default">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.primecpp.PrimeCppCaseTranslator"
               coreTargetLanguage="Cpp"
               name="PrimeCppCaseTranslator"
               sourceClass="Case"
               specificTargetLanguage="Default">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.primecpp.PrimeCppCaseStatementTranslator"
               coreTargetLanguage="Cpp"
               name="PrimeCppCaseStatementTranslator"
               sourceClass="CaseStatement"
               specificTargetLanguage="Default">
         </il1Translator>
         
      </emfPackage>
   </extension> 

</plugin>
