<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.rodinp.core.internalElementTypes">
      <internalElementType
            class="org.eventb.tasking.persistence.impl.AutoTask_Machine"
            id="autoTaskMachine"
            name="AutoTaskMachine">
      </internalElementType>
      <internalElementType
            class="org.eventb.tasking.persistence.impl.Environ_Machine"
            id="environMachine"
            name="EnvironMachine">
      </internalElementType>
      <internalElementType
            class="org.eventb.tasking.persistence.impl.Tasking_Machine"
            id="taskingMachine"
            name="TaskingMachine">
      </internalElementType>
      <internalElementType
            class="org.eventb.tasking.persistence.impl.Shared_Machine"
            id="sharedMachine"
            name="SharedMachine">
      </internalElementType>
      <internalElementType
            class="org.eventb.tasking.persistence.impl.FMU_Machine"
            id="fmuMachine"
            name="FMUMachine">
      </internalElementType>
      <internalElementType
            class="org.eventb.tasking.persistence.impl.Implementation"
            id="implementation"
            name="TaskingImplementation">
      </internalElementType>
      <internalElementType
            class="org.eventb.tasking.persistence.impl.ParameterType"
            id="parametertype"
            name="ParameterType">
      </internalElementType>
      <internalElementType
            class="org.eventb.tasking.persistence.impl.AddressedVariable"
            id="addressedvariable"
            name="AddressedVariable">
      </internalElementType>
      <internalElementType
            class="org.eventb.tasking.persistence.impl.SimpleTaskType"
            id="simpletasktype"
            name="SimpleTaskType">
      </internalElementType>
      <internalElementType
            class="org.eventb.tasking.persistence.impl.PeriodicTaskType"
            id="periodictasktype"
            name="PeriodicTaskType">
      </internalElementType>
      <internalElementType
            class="org.eventb.tasking.persistence.impl.MachineType"
            id="MachineType"
            name="MachineType">
      </internalElementType>
      <internalElementType
            class="org.eventb.tasking.persistence.impl.TaskType"
            id="TaskType"
            name="TaskType">
      </internalElementType>
      <internalElementType
            class="org.eventb.tasking.persistence.impl.TaskBody"
            id="TaskBody"
            name="TaskBody">
      </internalElementType>
      <internalElementType
            class="org.eventb.tasking.persistence.impl.Typing"
            id="typing"
            name="Typing">
      </internalElementType>rnalElementType>
   </extension>
   <extension
         name="Designed for EMF sych"
         point="org.rodinp.core.attributeTypes">
      <attributeType
            id="tasking"
            kind="string"
            name="Tasking">
      </attributeType>
      <attributeType
            id="priority"
            kind="integer"
            name="TaskingPriority">
      </attributeType>
      <attributeType
            id="impltype"
            kind="integer"
            name="ImplementationType">
      </attributeType>
      <attributeType
            id="paramtype"
            kind="integer"
            name="Parameter Type">
      </attributeType>
      <attributeType
            id="addressedvariablebase"
            kind="integer"
            name="AddressedVariableBase">
      </attributeType>
      <attributeType
            id="addressedvariableaddress"
            kind="string"
            name="AddressedVariableAddress">
      </attributeType>
      <attributeType
            id="simpletasktypetype"
            kind="integer"
            name="SimpleTaskTypeType">
      </attributeType>
      <attributeType
            id="periodictasktypetype"
            kind="integer"
            name="PeriodicTaskType">
      </attributeType>
      <attributeType
            id="machineTypeAttribute"
            kind="string"
            name="MachineTypeAttribute">
      </attributeType>
      <attributeType
            id="taskTypeAttribute"
            kind="string"
            name="TaskTypeAttribute">
      </attributeType>
      <attributeType
            id="simpleTaskTypeAttribute"
            kind="string"
            name="SimpleTaskTypeAttribute">
      </attributeType>
      <attributeType
            id="periodicTaskTypeAttribute"
            kind="integer"
            name="PeriodicTaskTypeAttribute">
      </attributeType>
      <attributeType
            id="taskBodyAttribute"
            kind="string"
            name="TaskBodyAttribute">
      </attributeType>
   </extension>
   <extension
         point="org.eventb.emf.persistence.synchroniser">
      <emfPackage
            name="Tasking Package"
            nsURI="http://tasking.ecore">
         <synchroniser
               emf_class="AutoTask_Machine"
               name="AutoTask_Machine"
               rodin_id="org.eventb.tasking.persistence.autoTaskMachine"
               synchroniser_class="org.eventb.autoTaskMachine.persistence.synchroniser.AutoTask_MachineSynchroniser">
         </synchroniser>      <synchroniser
               emf_class="Tasking_Machine"
               name="Tasking_Machine"
               rodin_id="org.eventb.tasking.persistence.taskingMachine"
               synchroniser_class="org.eventb.autoTaskMachine.persistence.synchroniser.Tasking_MachineSynchroniser">
         </synchroniser>
         <synchroniser
               emf_class="Shared_Machine"
               name="Shared_Machine"
               rodin_id="org.eventb.tasking.persistence.sharedMachine"
               synchroniser_class="org.eventb.autoTaskMachine.persistence.synchroniser.Shared_MachineSynchroniser">
         </synchroniser>
         <synchroniser
               emf_class="FMU_Machine"
               name="FMU_Machine"
               rodin_id="org.eventb.tasking.persistence.fmuMachine"
               synchroniser_class="org.eventb.autoTaskMachine.persistence.synchroniser.FMU_MachineSynchroniser">
         </synchroniser>
         <synchroniser
               emf_class="Implementation"
               name="Implementation"
               rodin_id="org.eventb.tasking.persistence.implementation"
               synchroniser_class="org.eventb.autoTaskMachine.persistence.synchroniser.ImplementationSynchroniser">
         </synchroniser>
         <synchroniser
               emf_class="ParameterType"
               name="ParameterType"
               rodin_id="org.eventb.tasking.persistence.parametertype"
               synchroniser_class="org.eventb.autoTaskMachine.persistence.synchroniser.ParameterTypeSynchroniser">
         </synchroniser>
         <synchroniser
               emf_class="AddressedVariable"
               name="AddressedVariable"
               rodin_id="org.eventb.tasking.persistence.addressedvariable"
               synchroniser_class="org.eventb.autoTaskMachine.persistence.synchroniser.AddressedVariableSynchroniser">
         </synchroniser>
         <synchroniser
               emf_class="SimpleTaskType"
               name="SimpleTaskType"
               rodin_id="org.eventb.tasking.persistence.simpletasktype"
               synchroniser_class="org.eventb.autoTaskMachine.persistence.synchroniser.SimpleTaskTypeSynchroniser">
         </synchroniser>
         <synchroniser
               emf_class="PeriodicTaskType"
               name="PeriodicTaskType"
               rodin_id="org.eventb.tasking.persistence.periodictasktype"
               synchroniser_class="org.eventb.autoTaskMachine.persistence.synchroniser.PeriodicTaskTypeSynchroniser">
         </synchroniser>
         <synchroniser
               emf_class="Environ_Machine"
               name="Environ_Machine"
               rodin_id="org.eventb.tasking.persistence.environMachine"
               synchroniser_class="org.eventb.autoTaskMachine.persistence.synchroniser.Environ_MachineSynchroniser">
         </synchroniser>
         <synchroniser
               emf_class="MachineType"
               name="MachineType"
               rodin_id="org.eventb.tasking.persistence.MachineType"
               synchroniser_class="org.eventb.tasking.persistence.synchroniser.MachineTypeSynchroniser">
         </synchroniser>
         <synchroniser
               emf_class="TaskType"
               name="TaskType"
               rodin_id="org.eventb.tasking.persistence.TaskType"
               synchroniser_class="org.eventb.tasking.persistence.synchroniser.TaskTypeSynchroniser">
         </synchroniser>
         <synchroniser
               emf_class="TaskBody"
               name="TaskBody"
               rodin_id="org.eventb.tasking.persistence.TaskBody"
               synchroniser_class="org.eventb.tasking.persistence.synchroniser.TaskBodySynchroniser">
         </synchroniser>
      </emfPackage>
   </extension>
   <extension
         point="org.rodinp.core.itemRelations">
      <relationship
            parentTypeId="org.eventb.core.machineFile">
         <childType
               typeId="org.eventb.tasking.persistence.MachineType">
         </childType>
         <childType
               typeId="org.eventb.tasking.persistence.autoTaskMachine">
         </childType>
         <childType
               typeId="org.eventb.tasking.persistence.taskingMachine">
         </childType>
         <childType
               typeId="org.eventb.tasking.persistence.sharedMachine">
         </childType>
         <childType
               typeId="org.eventb.tasking.persistence.environMachine">
         </childType>
      </relationship>
      <relationship
            parentTypeId="org.eventb.tasking.persistence.MachineType">
         <attributeType
               typeId="org.eventb.tasking.persistence.priority">
         </attributeType>
         <childType
               typeId="org.eventb.tasking.persistence.TaskType">
         </childType>
         <childType
               typeId="org.eventb.tasking.persistence.TaskBody">
         </childType>
         <childType
               typeId="org.eventb.tasking.persistence.simpletasktype">
         </childType>
         <attributeType
               typeId="org.eventb.tasking.persistence.machineTypeAttribute">
         </attributeType>
         <attributeType
               typeId="org.eventb.emf.persistence.emf_id">
         </attributeType>
      </relationship>
      <relationship
            parentTypeId="org.eventb.tasking.persistence.TaskBody">
                     <attributeType
               typeId="org.eventb.tasking.persistence.taskBodyAttribute">
         </attributeType> 
      </relationship>
      <relationship
            parentTypeId="org.eventb.tasking.persistence.TaskType">
                     <attributeType
               typeId="org.eventb.tasking.persistence.periodicTaskTypeAttribute">
         </attributeType>
         <attributeType
               typeId="org.eventb.tasking.persistence.simpleTaskTypeAttribute">
         </attributeType>
         <attributeType
               typeId="org.eventb.tasking.persistence.taskTypeAttribute">
         </attributeType>
            
      </relationship>
   </extension>

</plugin>
