<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://il1/1.0"
            class="org.eventb.codegen.il1.Il1Package"
            genModel="IL1.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://RequiredFormula.ecore"
            class="org.eventb.codegen.il1.RequiredFormula.RequiredFormulaPackage"
            genModel="IL1.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://RequiredMetadata.ecore"
            class="org.eventb.codegen.il1.RequiredMetadata.RequiredMetadataPackage"
            genModel="IL1.genmodel"/>
   </extension>

</plugin>
