<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eventb.codegen.tasking.translator" name="Tasking translators" schema="schema/org.eventb.codegen.tasking.translator.exsd"/>
<extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="MTaskingSelectionNew"
            objectClass="org.eventb.core.IEventBRoot">
         <action
               class="org.eventb.codegen.tasking.RemoveGenerated"
               id="org.eventb.codegen.translation.menu1.action.EventBToIL1New.removeGenerated"
               label="Remove Generated EventB"
               menubarPath="org.eventb.codegen.translation.menu1/groupB">
         </action>
         <action
               class="org.eventb.codegen.tasking.TranslateToEventB"
               id="org.eventb.codegen.translation.menu1.action.TranslateEventBToEventB"
               label="Translate Tasking EventB to EventB"
               menubarPath="org.eventb.codegen.translation.menu1/groupB">
         </action>
      </objectContribution>
         
   </extension>
<extension
      name="IL1"
      point="org.eventb.codegen.tasking.translator">
   <emfPackage
         SourceName="Tasking"
         TargetName="IL1"
         TargetOutput="IL1"
         name="TaskingPackage"
         nsURI="http://tasking.ecore"
         nsURISource="http://tasking.ecore"
         nsURITarget="http://il1/1.0">
      <taskingTranslator
            name="AutoTaskMachine"
            sourceClass="AutoTask_Machine"
            source_class="tasking.AutoTask_Machine"
            targetClass="Task"
            target_class="org.eventb.codegen.il1.Declaration"
            taskingTranslatorClass="org.eventb.codegen.tasking.translation.AutoTaskingMachineToTaskTranslator"
            tasking_class="AutoTask_Machine">
      </taskingTranslator>
      <taskingTranslator
            name="PeriodicTaskType"
            sourceClass="PeriodicTaskType"
            targetClass="PeriodicTaskType"
            taskingTranslatorClass="org.eventb.codegen.tasking.translation.PeriodicTaskTypeTranslator"
            tasking_class="PeriodicTaskType">
      </taskingTranslator>
      <taskingTranslator
            name="SimpleTaskType"
            sourceClass="SimpleTaskType"
            targetClass="SimpleTaskType"
            taskingTranslatorClass="org.eventb.codegen.tasking.translation.SimpleTaskTypeTranslator"
            tasking_class="SimpleTaskType">
      </taskingTranslator>
      <taskingTranslator
            name="TaskingMachine"
            sourceClass="Tasking_Machine"
            targetClass="Task"
            taskingTranslatorClass="org.eventb.codegen.tasking.translation.TaskingMachineTranslator"
            tasking_class="Tasking_Machine">
      </taskingTranslator>
      <taskingTranslator
            name="EnvironMachine"
            sourceClass="Environ_Machine"
            targetClass="Task"
            taskingTranslatorClass="org.eventb.codegen.tasking.translation.EnvironMachineTaskingTranslator"
            tasking_class="Environ_Machine">
      </taskingTranslator>
      <taskingTranslator
            name="SharedMachine"
            sourceClass="Shared_Machine"
            targetClass="Protected"
            taskingTranslatorClass="org.eventb.codegen.tasking.translation.SharedMachineTaskingTranslator"
            tasking_class="Shared_Machine">
      </taskingTranslator>
   </emfPackage>
   <emfPackage
         SourceName="CompositeControl"
         TargetOutput="IL1"
         TargetName="IL1"
         name="CompositeControl"
         nsURISource="http://compositeControl.ecore"
         nsURITarget="http://il1/1.0">
      <taskingTranslator
            name="Do"
            sourceClass="Do"
            targetClass="Command"
            taskingTranslatorClass="org.eventb.codegen.tasking.translation.DoTaskingTranslator">
      </taskingTranslator>
      <taskingTranslator
            name="Seq"
            sourceClass="Seq"
            targetClass="Seq"
            taskingTranslatorClass="org.eventb.codegen.tasking.translation.SeqTaskingTranslator">
      </taskingTranslator>
      <taskingTranslator
            name="Output"
            sourceClass="Output"
            targetClass="Output"
            taskingTranslatorClass="org.eventb.codegen.tasking.translation.OutputTaskingTranslator">
      </taskingTranslator>
      <taskingTranslator
            name="EventWrapper"
            sourceClass="EventWrapper"
            targetClass="N/A"
            taskingTranslatorClass="org.eventb.codegen.tasking.translation.EventWrapperTaskingTranslator">
      </taskingTranslator>
      <taskingTranslator
            name="Branch"
            sourceClass="Branch"
            targetClass="If"
            taskingTranslatorClass="org.eventb.codegen.tasking.translation.BranchTaskingTranslator">
      </taskingTranslator>
      <taskingTranslator
            name="SubBranch"
            sourceClass="SubBranch"
            targetClass="ElseIf"
            taskingTranslatorClass="org.eventb.codegen.tasking.translation.SubBranchTaskingTranslator">
      </taskingTranslator>
   </emfPackage>
   <emfPackage
         SourceName="EventBCore"
         TargetName="IL1"
         TargetOutput="IL1"
         name="EventBCore Machine"
         nsURISource="http://emf.eventb.org/models/core/machine/2014"
         nsURITarget="http://il1/1.0">
      <taskingTranslator
            name="Event"
            sourceClass="Event"
            targetClass="N/A"
            taskingTranslatorClass="org.eventb.codegen.tasking.translation.EventTaskingTranslator">
      </taskingTranslator>
      <taskingTranslator
            name="Machine"
            sourceClass="Machine"
            targetClass="Machine"
            taskingTranslatorClass="org.eventb.codegen.tasking.translation.MachineTaskingTranslator">
      </taskingTranslator>
      <taskingTranslator
            name="Variable"
            sourceClass="Variable"
            targetClass="Variable"
            taskingTranslatorClass="org.eventb.codegen.tasking.translation.VariableTaskingTranslator">
      </taskingTranslator>
      <taskingTranslator
            name="Invariant"
            sourceClass="Invariant"
            targetClass="Invariant"
            taskingTranslatorClass="org.eventb.codegen.tasking.translation.InvariantTaskingTranslator">
      </taskingTranslator>
      <taskingTranslator
            name="Guard"
            sourceClass="Guard"
            targetClass="ConditionSet"
            taskingTranslatorClass="org.eventb.codegen.tasking.translation.GuardTaskingTranslator">
      </taskingTranslator>
      <taskingTranslator
            name="Action"
            sourceClass="Action"
            targetClass="N/A"
            taskingTranslatorClass="org.eventb.codegen.tasking.translation.ActionTaskingTranslator">
      </taskingTranslator>
   </emfPackage>
   <emfPackage
         SourceName="EventBCore"
         TargetName="IL1"
         TargetOutput="IL1"
         name="EventBCore Context"
         nsURISource="http://emf.eventb.org/models/core/context/2014"
         nsURITarget="http://il1/1.0">
      <taskingTranslator
            name="Constant"
            sourceClass="Constant"
            taskingTranslatorClass="org.eventb.codegen.tasking.translation.ConstantTaskingTranslator">
      </taskingTranslator>
      <taskingTranslator
            name="Context"
            sourceClass="Context"
            taskingTranslatorClass="org.eventb.codegen.tasking.translation.ContextTaskingTranslator">
      </taskingTranslator>
      <taskingTranslator
            name="Axiom"
            sourceClass="Axiom"
            taskingTranslatorClass="org.eventb.codegen.tasking.translation.AxiomTaskingTranslator">
      </taskingTranslator>
   </emfPackage>
   <emfPackage
         SourceName="compositionmodel"
         TargetName="IL1"
         TargetOutput="IL1"
         name="CompositionModel"
         nsURISource="http://compositionmodel.soton.ac/models/core"
         nsURITarget="http://il1/1.0">
      <taskingTranslator
            name="ComposedMachine"
            sourceClass="ComposedMachine"
            targetClass="N/A"
            taskingTranslatorClass="org.eventb.codegen.tasking.translation.ComposedMachineTaskingTranslator">
      </taskingTranslator>
      <taskingTranslator
            name="ComposedEvent"
            sourceClass="ComposedEvent"
            targetClass="N/A"
            taskingTranslatorClass="org.eventb.codegen.tasking.translation.ComposedEventTaskingTranslator">
      </taskingTranslator>
      <taskingTranslator
            name="IncludedMachine"
            sourceClass="IncludedMachine"
            targetClass="N/A"
            taskingTranslatorClass="org.eventb.codegen.tasking.translation.IncludedMachineTaskingTranslator">
      </taskingTranslator>
      <taskingTranslator
            name="CombinedEventMachine"
            sourceClass="CombinedEventMachine"
            targetClass="N/A"
            taskingTranslatorClass="org.eventb.codegen.tasking.translation.CombinedEventMachineTaskingTranslator">
      </taskingTranslator>
   </emfPackage>
   <emfPackage
         TargetOutput="IL1"
         name="Statemachine"
         nsURISource="http://soton.ac.uk/models/eventb/statemachines/2014">
      <taskingTranslator
            name="Statemachine"
            sourceClass="Statemachine"
            taskingTranslatorClass="org.eventb.codegen.tasking.translation.StatemachineTranslator">
      </taskingTranslator>
   </emfPackage>
</extension>
<extension
      name="EventB"
      point="org.eventb.codegen.tasking.translator">
   <emfPackage
         SourceName="Tasking"
         TargetOutput="EventB"
         name="TaskingPackage"
         nsURISource="http://tasking.ecore"
         nsURITarget="org.eventb.codegen.tasking.emfPackage2">
      <taskingTranslator
            name="AutoTaskMachine"
            sourceClass="AutoTask_Machine"
            taskingTranslatorClass="org.eventb.codegen.tasking.translation.eventb.AutoTaskingMachineEventBTranslator">
      </taskingTranslator>
      <taskingTranslator
            name="TaskingMachine"
            sourceClass="Tasking_Machine"
            taskingTranslatorClass="org.eventb.codegen.tasking.translation.eventb.TaskingMachineEventBTranslator">
      </taskingTranslator>
      <taskingTranslator
            name="EnvironMachine"
            sourceClass="Environ_Machine"
            taskingTranslatorClass="org.eventb.codegen.tasking.translation.eventb.EnvironMachineEventBTranslator">
      </taskingTranslator>
      <taskingTranslator
            name="SharedMachine"
            sourceClass="Shared_Machine"
            taskingTranslatorClass="org.eventb.codegen.tasking.translation.eventb.SharedMachinEventBTranslator">
      </taskingTranslator>
   </emfPackage>
   <emfPackage
         SourceName="CompositeControl"
         TargetOutput="EventB"
         name="CompositeControl"
         nsURISource="http://compositeControl.ecore">
      <taskingTranslator
            name="EventWrapper"
            sourceClass="EventWrapper"
            taskingTranslatorClass="org.eventb.codegen.tasking.translation.eventb.EventWrapperEventBTranslator">
      </taskingTranslator>
      <taskingTranslator
            name="Seq"
            sourceClass="Seq"
            taskingTranslatorClass="org.eventb.codegen.tasking.translation.eventb.SeqEventBTranslator">
      </taskingTranslator>
      <taskingTranslator
            name="Output"
            sourceClass="Output"
            taskingTranslatorClass="org.eventb.codegen.tasking.translation.eventb.OutputEventBTranslator">
      </taskingTranslator>
      <taskingTranslator
            name="Branch"
            sourceClass="Branch"
            taskingTranslatorClass="org.eventb.codegen.tasking.translation.eventb.BranchEventBTranslator">
      </taskingTranslator>
      <taskingTranslator
            name="SubBranch"
            sourceClass="SubBranch"
            taskingTranslatorClass="org.eventb.codegen.tasking.translation.eventb.SubBranchEventBTranslator">
      </taskingTranslator>
      <taskingTranslator
            name="Do"
            sourceClass="Do"
            taskingTranslatorClass="org.eventb.codegen.tasking.translation.eventb.DoEventBTranslator">
      </taskingTranslator>
   </emfPackage>
   <emfPackage
         TargetOutput="EventB"
         name="EventBCore"
         nsURISource="http://emf.eventb.org/models/core/machine/2014">
      <taskingTranslator
            name="Action"
            sourceClass="Action"
            taskingTranslatorClass="org.eventb.codegen.tasking.translation.eventb.ActionEventBTranslator">
      </taskingTranslator>
      <taskingTranslator
            name="Machine"
            sourceClass="Machine"
            taskingTranslatorClass="org.eventb.codegen.tasking.translation.eventb.MachineEventBTranslator">
      </taskingTranslator>
   </emfPackage>
   <emfPackage
         TargetOutput="EventB"
         name="CompositionModel"
         nsURISource="http://compositionmodel.soton.ac/models/core">
   </emfPackage>
   <emfPackage
         TargetOutput="EventB"
         name="EventBContext"
         nsURISource="http://emf.eventb.org/models/core/context/2014">
   </emfPackage>
</extension>
    <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="2"
            markerType="org.eventb.codegen.tasking.problem"
            name="org.eventb.codegen.tasking.error"
            super="org.eclipse.ui.workbench.texteditor.error">
      </type>
      <type
            markerSeverity="1"
            markerType="org.eventb.codegen.tasking.problem"
            name="org.eventb.codegen.tasking.warning"
            super="org.eclipse.ui.workbench.texteditor.warning">
      </type>
      <type
            markerSeverity="0"
            markerType="org.eventb.codegen.tasking.problem"
            name="org.eventb.codegen.tasking.info"
            super="org.eclipse.ui.workbench.texteditor.info">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerSupport">
      <markerContentGenerator
            id="org.eventb.codegen.CodeGenMarkerGenerator"
            name="Code Generator Marker Generator">
         <markerFieldReference
               id="org.eclipse.ui.ide.severityAndDescriptionField"
               visible="true"/> 
   <markerFieldReference
         id="org.eclipse.ui.ide.markerType"
         visible="true"/> 
   <markerFieldReference
         id="org.eclipse.ui.ide.resourceField"
         visible="true"/>
         <markerTypeReference
               id="org.eventb.codegen.tasking.problem">
         </markerTypeReference>
      </markerContentGenerator>
      <!--
	<markerField 
      class="org.eventb.codegen.ui.markers.CodeGenProblemDescription" 
      id="org.eventb.codegen.ui.marker.codeGenProblemDescription" 
      name="Problem Description "> 
	</markerField>
	-->
   </extension>
   <extension
         id="problem"
         name="Code Generator Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="org.eventb.codegen.tasking.error"
            colorPreferenceKey="taskingErrorcolor"
            colorPreferenceValue="192,255,192"
            contributesToHeader="false"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Code Generation Error"
            overviewRulerPreferenceKey="taskingErrorruler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            symbolicIcon="error"
            textPreferenceKey="taskingErrortext"
            textStylePreferenceValue="PROBLEM_UNDERLINE"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationType="org.eventb.codegen.tasking.warning"
            colorPreferenceValue="192,192,192"
            contributesToHeader="false"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Code Generation Warning"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            symbolicIcon="warning"
            textStylePreferenceValue="UNDERLINE"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationType="org.eventb.codegen.tasking.info"
            colorPreferenceValue="255,255,192"
            contributesToHeader="false"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Code Generation Info"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            symbolicIcon="info"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceValue="false">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eventb.codegen.tasking.preferences.CodeGenerationPreferencePage"
            id="org.eventb.codegen.tasking.preferences.CodeGenerationPreferencePage"
            name="Code Generation">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eventb.codegen.tasking.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.rodinp.core.attributeTypes">
      <attributeType
            id="flattened"
            kind="boolean"
            name="%eventBFlattenedAttribute">
      </attributeType>
   </extension>
   <extension
         point="org.rodinp.core.itemRelations">
      <ubiquitous>
         <attributeType
               typeId="org.eventb.codegen.tasking.flattened">
         </attributeType>
      </ubiquitous>
   </extension>

</plugin>
