<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eventb.codegen.templates.generator" name="templateGenerator" schema="schema/org.eventb.codegen.templates.generator.exsd"/>
   <extension-point id="org.eventb.codegen.templates.tag" name="commentCharacters" schema="schema/org.eventb.codegen.templates.tag.exsd"/>

</plugin>
