<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.rodinp.core.internalElementTypes">
      <internalElementType
            class="org.eventb.compositecontrol.persistence.impl.Seq"
            id="seq"
            name="Seq">
      </internalElementType>
      <internalElementType
            class="org.eventb.compositecontrol.persistence.impl.Do"
            id="do"
            name="Do">
      </internalElementType>
      <internalElementType
            class="org.eventb.compositecontrol.persistence.impl.Branch"
            id="branch"
            name="Branch">
      </internalElementType>
      <internalElementType
            class="org.eventb.compositecontrol.persistence.impl.SubBranch"
            id="subbranch"
            name="SubBranch">
      </internalElementType>
      <internalElementType
            class="org.eventb.compositecontrol.persistence.impl.EventWrapper"
            id="eventwrapper"
            name="Event Wrapper">
      </internalElementType>
      <internalElementType
            class="org.eventb.compositecontrol.persistence.impl.Output"
            id="ccoutput"
            name="Output">
      </internalElementType>
      <internalElementType
            class="org.eventb.compositecontrol.persistence.impl.SynchEvents"
            id="synchevents"
            name="SynchEvents">
      </internalElementType>
   </extension>
   <extension
         point="org.rodinp.core.attributeTypes">
      <attributeType
            id="compositecontrol"
            kind="string"
            name="CompositeControl">
      </attributeType>
      <attributeType
            id="dolabel"
            kind="string"
            name="DoLabel">
      </attributeType>
      <attributeType
            id="branchlabel"
            kind="string"
            name="BranchLabel">
      </attributeType>
      <attributeType
            id="eventwrapperlabel"
            kind="string"
            name="EventWrapperLabel">
      </attributeType>
      <attributeType
            id="outputtext"
            kind="string"
            name="OutputText">
      </attributeType>
      <attributeType
            id="eventwrappereventname"
            kind="string"
            name="EventWrapperEventName">
      </attributeType>
      <attributeType
            id="compcontrolfeatureid"
            kind="integer"
            name="CompositeControlFeatureID">
      </attributeType>
      <attributeType
            id="outputvariablename"
            kind="string"
            name="OutputVariableName">
      </attributeType>
   </extension>
   <extension
         point="org.eventb.emf.persistence.synchroniser">
      <emfPackage
            name="Composite Control"
            nsURI="http://compositeControl.ecore">
         <synchroniser
               emf_class="Seq"
               name="Seq"
               rodin_id="org.eventb.compositeControl.persistence.seq"
               synchroniser_class="org.eventb.compositecontrol.persistence.synchroniser.SeqSynchroniser">
         </synchroniser>
         <synchroniser
               emf_class="Do"
               name="Do"
               rodin_id="org.eventb.compositeControl.persistence.do"
               synchroniser_class="org.eventb.compositecontrol.persistence.synchroniser.DoSynchroniser">
         </synchroniser>
         <synchroniser
               emf_class="Branch"
               name="Branch"
               rodin_id="org.eventb.compositeControl.persistence.branch"
               synchroniser_class="org.eventb.compositecontrol.persistence.synchroniser.BranchSynchroniser">
         </synchroniser>
         <synchroniser
               emf_class="SubBranch"
               name="SubBranch"
               rodin_id="org.eventb.compositeControl.persistence.subbranch"
               synchroniser_class="org.eventb.compositecontrol.persistence.synchroniser.SubBranchSynchroniser">
         </synchroniser>
         <synchroniser
               emf_class="EventWrapper"
               name="EventWrapper"
               rodin_id="org.eventb.compositeControl.persistence.eventwrapper"
               synchroniser_class="org.eventb.compositecontrol.persistence.synchroniser.EventWrapperSynchroniser">
         </synchroniser>
         <synchroniser
               emf_class="Output"
               name="Output"
               rodin_id="org.eventb.compositeControl.persistence.ccoutput"
               synchroniser_class="org.eventb.compositecontrol.persistence.synchroniser.OutputSynchroniser">
         </synchroniser>
         <synchroniser
               emf_class="SynchEvents"
               name="SynchEvents"
               rodin_id="org.eventb.compositeControl.persistence.synchevents"
               synchroniser_class="org.eventb.compositecontrol.persistence.synchroniser.SynchEventsSynchroniser">
         </synchroniser>
      </emfPackage>
   </extension>

</plugin>
