<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eventb.ui.editorItems">
      <element
            imagePath="icons/icon1.png"
            prefix="TASKING"
            typeId="org.eventb.tasking.persistence.MachineType">
      </element>
      <element
            imagePath="icons/icon1.png"
            prefix="TASK TYPE"
            typeId="org.eventb.tasking.persistence.TaskType">
      </element>
      <element
            imagePath="icons/icon1.png"
            prefix="TASK BODY"
            typeId="org.eventb.tasking.persistence.TaskBody">
      </element>
      <childRelation
            parentTypeId="org.eventb.core.machineFile">
         <childType
               priority="99"
               typeId="org.eventb.tasking.persistence.MachineType">
         </childType>
      </childRelation>
      <choiceAttribute
            class="org.eventb.codegen.ui.attributes.TypingAttribute"
            expandsHorizontally="false"
            id="org.eventb.codegen.ui.typing"
            prefix="TYPING"
            required="true"
            typeId="org.eventb.codegen.ui.typingAttribute">
      </choiceAttribute>
      <attributeRelation
            elementTypeId="org.eventb.tasking.persistence.MachineType">
         <attributeReference
               descriptionId="org.eventb.codegen.ui.machineType">
         </attributeReference>
         <attributeReference
               descriptionId="org.eventb.codegen.ui.priority">
         </attributeReference>
         <attributeReference
               descriptionId="org.eventb.ui.comment">
         </attributeReference>
      </attributeRelation>
      <attributeRelation
            elementTypeId="org.eventb.core.invariant">
         <attributeReference
               column="2"
               descriptionId="org.eventb.codegen.ui.typing">
         </attributeReference>
      </attributeRelation>
      <attributeRelation
            elementTypeId="org.eventb.core.guard">
         <attributeReference
               column="2"
               descriptionId="org.eventb.codegen.ui.typing">
         </attributeReference>
         <attributeReference
               column="3"
               descriptionId="org.eventb.codegen.ui.branching">
         </attributeReference>
      </attributeRelation>
      <attributeRelation
            elementTypeId="org.eventb.core.axiom">
         <attributeReference
               column="2"
               descriptionId="org.eventb.codegen.ui.typing">
         </attributeReference>
         <attributeReference
               column="3"
               descriptionId="org.eventb.codegen.ui.branching">
         </attributeReference>
      </attributeRelation>
      <choiceAttribute
            class="org.eventb.codegen.ui.attributes.MachineTypeAttribute"
            expandsHorizontally="false"
            id="org.eventb.codegen.ui.machineType"
            prefix="MACHINE TYPE"
            required="true"
            typeId="org.eventb.tasking.persistence.machineTypeAttribute">
      </choiceAttribute>
      <choiceAttribute
            class="org.eventb.codegen.ui.attributes.ParameterTypeAttribute"
            expandsHorizontally="false"
            id="org.eventb.codegen.ui.parameterType"
            prefix="DIRECTION"
            required="true"
            typeId="org.eventb.codegen.ui.parameterTypeAttribute">
      </choiceAttribute>
      <attributeRelation
            elementTypeId="org.eventb.core.parameter">
         <attributeReference
               descriptionId="org.eventb.codegen.ui.parameterType">
         </attributeReference>
      </attributeRelation>
      <childRelation
            parentTypeId="org.eventb.tasking.persistence.MachineType">
         <childType
               priority="10"
               typeId="org.eventb.tasking.persistence.TaskType">
         </childType>
         <childType
               typeId="org.eventb.tasking.persistence.TaskBody">
         </childType>
      </childRelation>
      <choiceAttribute
            class="org.eventb.codegen.ui.attributes.TaskTypeAttribute"
            expandsHorizontally="false"
            id="org.eventb.codegen.ui.taskTypeAttr"
            required="true"
            typeId="org.eventb.tasking.persistence.taskTypeAttribute">
      </choiceAttribute>
      <attributeRelation
            elementTypeId="org.eventb.tasking.persistence.TaskType">
         <attributeReference
               descriptionId="org.eventb.codegen.ui.taskTypeAttr">
         </attributeReference>
        <attributeReference
               descriptionId="org.eventb.codegen.ui.period">
         </attributeReference> 
         <attributeReference
               descriptionId="org.eventb.codegen.ui.simpleTaskType">
         </attributeReference>
      </attributeRelation>
      <textAttribute
            class="org.eventb.codegen.ui.attributes.PeriodAttribute"
            expandsHorizontally="true"
            id="org.eventb.codegen.ui.period"
            isMath="true"
            prefix="PERIOD"
            style="multi"
            typeId="org.eventb.tasking.persistence.periodicTaskTypeAttribute">
      </textAttribute>
      <choiceAttribute
            class="org.eventb.codegen.ui.attributes.SimpleTaskTypeAttribute"
            expandsHorizontally="false"
            id="org.eventb.codegen.ui.simpleTaskType"
            prefix="SIMPLE TASK TYPE"
            required="true"
            typeId="org.eventb.tasking.persistence.simpleTaskTypeAttribute">
      </choiceAttribute>
      <attributeRelation
            elementTypeId="org.eventb.tasking.persistence.TaskBody">
         <attributeReference
               descriptionId="org.eventb.codegen.ui.taskBodyAttr">
         </attributeReference>
      </attributeRelation>
      <textAttribute
            class="org.eventb.codegen.ui.attributes.TaskBodyAttribute"
            expandsHorizontally="true"
            id="org.eventb.codegen.ui.taskBodyAttr"
            isMath="false"
            style="multi"
            typeId="org.eventb.tasking.persistence.taskBodyAttribute">
      </textAttribute>
      <textAttribute
            class="org.eventb.codegen.ui.attributes.PriorityAttribute"
            expandsHorizontally="false"
            id="org.eventb.codegen.ui.priority"
            isMath="true"
            prefix="PRIORITY"
            style="multi"
            typeId="org.eventb.tasking.persistence.priority">
      </textAttribute>
      <attributeRelation
            elementTypeId="org.eventb.core.contextFile">
         <attributeReference
               descriptionId="org.eventb.codegen.ui.taskingContext">
         </attributeReference>
      </attributeRelation>
      <choiceAttribute
            class="org.eventb.codegen.ui.attributes.TaskingContextAttribute"
            expandsHorizontally="false"
            id="org.eventb.codegen.ui.taskingContext"
            prefix="TASKING CONTEXT"
            required="true"
            typeId="org.eventb.codegen.ui.taskingContextAttribute">
      </choiceAttribute>
      <choiceAttribute
            class="org.eventb.codegen.ui.attributes.BranchingAttribute"
            expandsHorizontally="false"
            id="org.eventb.codegen.ui.branching"
            prefix="EXPANDING"
            required="true"
            typeId="org.eventb.codegen.ui.branchingAttribute">
      </choiceAttribute>
   </extension>
   <extension
         point="org.rodinp.core.attributeTypes">
      <attributeType
            id="typingAttribute"
            kind="string"
            name="Typing Attribute">
      </attributeType>
      <attributeType
            id="parameterTypeAttribute"
            kind="string"
            name="ParameterTypeAttribute">
      </attributeType>
      <attributeType
            id="taskingContextAttribute"
            kind="string"
            name="TaskingContextAttribute">
      </attributeType>
      <attributeType
            id="branchingAttribute"
            kind="string"
            name="Branching Attribute">
      </attributeType>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eventb.ui"
            class="org.eventb.codegen.internal.ui.problems.CodeGenProblemView"
            icon="icons/problems_view.gif"
            id="org.eventb.codegen.ui.CodeGenProblemView"
            name="Code Generation Problems"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eventb.core.scModuleTypes">
      <processorType
            class="org.eventb.codegen.ui.validation.TaskBodyValidatorModule"
            id="taskBodyModule"
            name="TaskBody SC"
            parent="org.eventb.core.machineModule">
      </processorType>
      <processorType
            class="org.eventb.codegen.ui.validation.ContextTaskingValidatorModule"
            id="contextModule"
            name="Context SC"
            parent="org.eventb.core.contextModule">
      </processorType>
   </extension>
   <extension
         point="org.eventb.core.configurations">
      <configuration
            id="cgConfig"
            name="Code Generation Plug-in Configuration">
         <scModule
               id="org.eventb.codegen.ui.taskBodyModule">
         </scModule>
         <scModule
         	  id="org.eventb.codegen.ui.contextModule">
         </scModule>
      </configuration>
   </extension>
   <extension
         point="org.rodinp.core.itemRelations">
      <relationship
            parentTypeId="org.eventb.core.scMachineFile">
         <childType
               typeId="org.eventb.codegen.ui.taskBodyModule">
         </childType>
         <attributeType
               typeId="org.eventb.core.configuration">
         </attributeType>
         <attributeType
               typeId="org.eventb.codegen.ui.accurate">
         </attributeType>
         <attributeType
               typeId="org.eventb.codegen.ui.source">
         </attributeType>
      </relationship>
      <relationship
            parentTypeId="org.eventb.core.machineFile">
         <attributeType
               typeId="org.eventb.core.configuration">
         </attributeType>
      </relationship>
   </extension>

</plugin>
