<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.rodinp.core.internalElementTypes">
      <internalElementType
            class="org.eventb.codegen.theory.translator.core.basis.TranslatorElement"
            id="translatorElement"
            name="%translatorElement">
      </internalElementType>
      <internalElementType
            class="org.eventb.codegen.theory.translator.core.basis.TranslatorRuleElement"
            id="translatorRuleElement"
            name="%translatorRuleElement">
      </internalElementType>
      <internalElementType
            class="org.eventb.codegen.theory.translator.core.basis.SCTranslatorRuleElement"
            id="scTranslatorRuleElement"
            name="%translatorRuleSCElement">
      </internalElementType>
      <internalElementType
            class="org.eventb.codegen.theory.translator.core.basis.SCTranslatorElement"
            id="scTranslatorElement"
            name="Event-B Theory Translator SC Element ">
      </internalElementType>
      <internalElementType
            class="org.eventb.codegen.theory.translator.core.basis.TranslatorTypeRuleElement"
            id="translatorTypeRuleElement"
            name="Event-B Theory Translator Type Rule Element">
      </internalElementType>
      <internalElementType
            class="org.eventb.codegen.theory.translator.core.basis.SCTranslatorTypeRuleElement"
            id="scTranslatorTypeRuleElement"
            name="Event-B Theory Translator Type Rule SC Element">
      </internalElementType>
   </extension>
      <extension
         point="org.rodinp.core.fileAssociations">
      <fileAssociation
            content-type-id="org.eventb.theory.core.theoryLanguageFile"
            root-element-type="org.eventb.theory.core.theoryLanguageRoot">
      </fileAssociation>
      <fileAssociation
            content-type-id="org.eventb.theory.core.scTheoryLanguageFile"
            root-element-type="org.eventb.theory.core.scTheoryLanguageRoot">
      </fileAssociation>
   </extension>
   <extension
         point="org.rodinp.core.attributeTypes">
      <attributeType
            id="targetLanguage"
            kind="string"
            name="%translatorLanguageElement">
      </attributeType>
      <attributeType
            id="translationElement"
            kind="string"
            name="%translatorOutputElement">
      </attributeType>
      <attributeType
            id="formula"
            kind="string"
            name="Event-B Translator Rule Formula">
      </attributeType>
      <attributeType
            id="typeFormula"
            kind="string"
            name="Event-B Translator Type Rule Formula">
      </attributeType>
   </extension>
   <extension
         point="org.eventb.core.configurations">
      <configuration
            id="thyTranslator"
            name="Theory Static Checker Translator Base">
         <config
               id="org.eventb.theory.core.thy"><!--thy-->
         </config>
         <scModule
               id="org.eventb.codegen.theory.translator.core.translatorModule">
         </scModule>
         <scModule
               id="org.eventb.codegen.theory.translator.core.metavariableModule">
         </scModule>
         <scModule
               id="org.eventb.codegen.theory.translator.core.translatorRuleModule">
         </scModule>
         <scModule
               id="org.eventb.codegen.theory.translator.core.translatorTypeRuleModule">
         </scModule>
         <scModule
               id="org.eventb.codegen.theory.translator.core.metavariableFilterModule">
         </scModule>
      </configuration>
   </extension>
   <extension
         point="org.eventb.core.scModuleTypes">
      <processorType
            class="org.eventb.codegen.theory.translator.core.sc.modules.TranslatorModule"
            id="translatorModule"
            name="%translatorSCModule"
            parent="org.eventb.theory.core.theoryModule">
      </processorType>
      <processorType
            class="org.eventb.codegen.theory.translator.core.sc.modules.TranslatorRuleModule"
            id="translatorRuleModule"
            parent="org.eventb.codegen.theory.translator.core.translatorModule"
            name="Event-B Theory Translator Rules SC Module">
         <prereq
               id="org.eventb.codegen.theory.translator.core.metavariableModule">
         </prereq>
      </processorType>
      <processorType
            class="org.eventb.codegen.theory.translator.core.sc.modules.TranslatorTypeRuleModule"
            id="translatorTypeRuleModule"
            name="Event-B Theory Translator Type Rules SC Module"
            parent="org.eventb.codegen.theory.translator.core.translatorModule">
         <prereq
               id="org.eventb.codegen.theory.translator.core.metavariableModule">
         </prereq>
      </processorType>
      <processorType
            class="org.eventb.codegen.theory.translator.core.sc.modules.MetaVariableTranslatorModule"
            id="metavariableModule"
            name="Event-B Theory Translator Metavariable SC Module"
            parent="org.eventb.codegen.theory.translator.core.translatorModule">
      </processorType>
      <filterType
            class="org.eventb.codegen.theory.translator.core.sc.modules.MetaVariableFilterModule"
            id="metavariableFilterModule"
            name="Event-B Theory Translator Metavariable SC Filter"
            parent="org.eventb.codegen.theory.translator.core.metavariableModule">
      </filterType>
   </extension>
   <extension
         point="org.eventb.core.scStateTypes">
      <stateType
            class="org.eventb.codegen.theory.translator.core.sc.symbolTable.TranslatorMetavariableSymbolTable"
            id="translatorMetavariableSymbolTable"
            name="Translator Metavariable Symbol Table">
      </stateType>
   </extension>
   <extension
         point="org.eventb.codegen.il1.translatorProvider">
      <translatorProviderElement
            class="org.eventb.codegen.theory.translator.provider.core.TranslatorProviderTheory"
            name="translatorProviderTheory">
      </translatorProviderElement>
   </extension>
   <extension
         point="org.eventb.theory.core.deployedElements">
      <deployedElement
           name="SC Translator Element"
           typeId="org.eventb.codegen.theory.translator.core.scTranslatorElement">
        <childElement
              childTypeId="org.eventb.theory.core.scMetavariable"
              name="SC Translator Element Metavariable">
        </childElement>
        <childElement
              childTypeId="org.eventb.codegen.theory.translator.core.scTranslatorRuleElement"
              name="SC Translator Rule Element">
        </childElement>
        <childElement
              childTypeId="org.eventb.codegen.theory.translator.core.scTranslatorTypeRuleElement"
              name="SC Translator Type Rule Element">
        </childElement>
     </deployedElement>
   </extension>
   <extension
         point="org.rodinp.core.itemRelations">
      <relationship
            parentTypeId="org.eventb.theory.core.theoryRoot">
         <childType
               typeId="org.eventb.codegen.theory.translator.core.translatorElement">
         </childType>
         <attributeType
               typeId="org.eventb.core.configuration">
         </attributeType>
      </relationship>
      <relationship
            parentTypeId="org.eventb.theory.core.scTheoryRoot">
         <attributeType
               typeId="org.eventb.core.configuration">
         </attributeType>
         <attributeType
               typeId="org.eventb.core.accurate">
         </attributeType>
         <attributeType
               typeId="org.eventb.core.source">
         </attributeType>
         <childType
               typeId="org.eventb.codegen.theory.translator.core.scTranslatorElement">
         </childType>
      </relationship>
      <relationship
            parentTypeId="org.eventb.theory.core.deployedTheoryRoot">
         <attributeType
               typeId="org.eventb.core.accurate">
         </attributeType>
         <attributeType
               typeId="org.eventb.core.comment">
         </attributeType>
         <childType
               typeId="org.eventb.codegen.theory.translator.core.scTranslatorElement">
         </childType>
      </relationship>
      <relationship
            parentTypeId="org.eventb.theory.core.deployedElement">
         <childType
               typeId="org.eventb.codegen.theory.translator.core.scTranslatorElement">
         </childType>
      </relationship>
      <relationship
            parentTypeId="org.eventb.codegen.theory.translator.core.translatorElement">
         <childType
               typeId="org.eventb.theory.core.metaVariable">
         </childType>
         <childType
               typeId="org.eventb.codegen.theory.translator.core.translatorRuleElement">
         </childType>
         <childType
               typeId="org.eventb.codegen.theory.translator.core.translatorTypeRuleElement">
         </childType>
         <attributeType
               typeId="org.eventb.codegen.theory.translator.core.targetLanguage">
         </attributeType>
      </relationship>
      <relationship
            parentTypeId="org.eventb.codegen.theory.translator.core.translatorRuleElement">
         <attributeType
               typeId="org.eventb.codegen.theory.translator.core.formula">
         </attributeType>
         <attributeType
               typeId="org.eventb.codegen.theory.translator.core.translationElement">
         </attributeType>
      </relationship>
      <relationship
            parentTypeId="org.eventb.codegen.theory.translator.core.translatorTypeRuleElement">
         <attributeType
               typeId="org.eventb.codegen.theory.translator.core.translationElement">
         </attributeType>
         <attributeType
               typeId="org.eventb.codegen.theory.translator.core.typeFormula">
         </attributeType>
      </relationship>
      <relationship
            parentTypeId="org.eventb.codegen.theory.translator.core.scTranslatorElement">
         <childType
               typeId="org.eventb.theory.core.scMetavariable">
         </childType>
         <childType
               typeId="org.eventb.codegen.theory.translator.core.scTranslatorRuleElement">
         </childType>
         <childType
               typeId="org.eventb.codegen.theory.translator.core.scTranslatorTypeRuleElement">
         </childType>
         <attributeType
               typeId="org.eventb.core.source">
         </attributeType>
         <attributeType
               typeId="org.eventb.codegen.theory.translator.core.targetLanguage">
         </attributeType>
         </relationship>
      <relationship
            parentTypeId="org.eventb.codegen.theory.translator.core.scTranslatorRuleElement">
         <attributeType typeId="org.eventb.codegen.theory.translator.core.formula">
         </attributeType>
         <attributeType
               typeId="org.eventb.codegen.theory.translator.core.translationElement">
         </attributeType>
         <attributeType
               typeId="org.eventb.core.source">
         </attributeType>
         <attributeType
               typeId="org.eventb.core.label">
         </attributeType>
      </relationship>
      <relationship
            parentTypeId="org.eventb.codegen.theory.translator.core.scTranslatorTypeRuleElement">
         <attributeType typeId="org.eventb.codegen.theory.translator.core.typeFormula">
         </attributeType>
         <attributeType
               typeId="org.eventb.codegen.theory.translator.core.translationElement">
         </attributeType>
         <attributeType
               typeId="org.eventb.core.source">
         </attributeType>
         <attributeType
               typeId="org.eventb.core.label">
         </attributeType>
      </relationship>
      <relationship
            parentTypeId="org.eventb.theory.core.theoryLanguageRoot">
         <attributeType
               typeId="org.eventb.core.configuration">
         </attributeType>
         <childType
               typeId="org.eventb.theory.core.availableTheoryProject">
         </childType>
      </relationship>
      
   </extension>
   <!--
   <extension
         point="org.eventb.core.scStateTypes">
      <stateType
            class="org.eventb.codegen.theory.translator.core.sc.state.ITranslatorLabelSymbolTable"
            id="translatorLabelSymbolTable"
            name="%translatorSymbolTable">
      </stateType>
   </extension>
   -->

</plugin>
