<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eventb.ui.editorItems">
      <element
            defaultColumn="0"
            imagePath="icons/translator_obj2f.png"
            prefix="TRANSLATOR"
            prettyPrinter="org.eventb.codegen.theory.translator.ui.eventbeditor.html.TranslatorElementPrettyPrinter"
            typeId="org.eventb.codegen.theory.translator.core.translatorElement">
      </element>
      <element
            defaultColumn="0"
            imagePath="icons/translator_obj3f.png"
            prefix="Translator Rules"
            prettyPrinter="org.eventb.codegen.theory.translator.ui.eventbeditor.html.TranslatorRuleElementPrettyPrinter"
            typeId="org.eventb.codegen.theory.translator.core.translatorRuleElement">
      </element>
      <element
            defaultColumn="0"
            imagePath="icons/translator_obj4f.png"
            prefix="Type Rules"
            prettyPrinter="org.eventb.codegen.theory.translator.ui.eventbeditor.html.TranslatorTypeRuleElementPrettyPrinter"
            typeId="org.eventb.codegen.theory.translator.core.translatorTypeRuleElement">
      </element>
      <childRelation
            parentTypeId="org.eventb.theory.core.theoryRoot">
         <childType
               priority="50"
               typeId="org.eventb.codegen.theory.translator.core.translatorElement">
         </childType>
      </childRelation>
      <childRelation
            parentTypeId="org.eventb.codegen.theory.translator.core.translatorElement">
         <childType
               priority="5"
               typeId="org.eventb.theory.core.metaVariable">
         </childType>
         <childType
               priority="10"
               typeId="org.eventb.codegen.theory.translator.core.translatorRuleElement">
         </childType>
         <childType
               priority="15"
               typeId="org.eventb.codegen.theory.translator.core.translatorTypeRuleElement">
         </childType>
      </childRelation>
      <attributeRelation
            elementTypeId="org.eventb.codegen.theory.translator.core.translatorElement">
         <attributeReference
               column="0"
               descriptionId="org.eventb.codegen.theory.translator.ui.targetLanguage">
         </attributeReference>
         <attributeReference
               column="1"
               descriptionId="org.eventb.ui.comment">
         </attributeReference>
      </attributeRelation>
      <attributeRelation
            elementTypeId="org.eventb.codegen.theory.translator.core.translatorRuleElement">
         <attributeReference
               column="0"
               descriptionId="org.eventb.ui.label">
         </attributeReference>
         <attributeReference
               column="1"
               descriptionId="org.eventb.codegen.theory.translator.ui.formula">
         </attributeReference>
         <attributeReference
               column="2"
               descriptionId="org.eventb.codegen.theory.translator.ui.translationElement">
         </attributeReference>
         <attributeReference
               column="3"
               descriptionId="org.eventb.ui.comment">
         </attributeReference>
      </attributeRelation>
      <attributeRelation
            elementTypeId="org.eventb.codegen.theory.translator.core.translatorTypeRuleElement">
         <attributeReference
               column="0"
               descriptionId="org.eventb.ui.label">
         </attributeReference>
         <attributeReference
               column="1"
               descriptionId="org.eventb.codegen.theory.translator.ui.typeFormula">
         </attributeReference>
         <attributeReference
               column="2"
               descriptionId="org.eventb.codegen.theory.translator.ui.translationElement">
         </attributeReference>
         <attributeReference
               column="3"
               descriptionId="org.eventb.ui.comment">
         </attributeReference>
      </attributeRelation>
      <textAttribute
            class="org.eventb.codegen.theory.translator.internal.ui.eventbeditor.manipulation.TranslationElementAttributeManipulation"
            expandsHorizontally="false"
            id="org.eventb.codegen.theory.translator.ui.translationElement"
            isMath="false"
            prefix="OUTPUT"
            style="single"
            typeId="org.eventb.codegen.theory.translator.core.translationElement">
      </textAttribute>
      <choiceAttribute
            class="org.eventb.codegen.theory.translator.internal.ui.eventbeditor.manipulation.TargetLanguageAttributeManipulation"
            expandsHorizontally="false"
            id="org.eventb.codegen.theory.translator.ui.targetLanguage"
            prefix="TARGET"
            required="true"
            typeId="org.eventb.codegen.theory.translator.core.targetLanguage">
      </choiceAttribute>
      <textAttribute
            class="org.eventb.codegen.theory.translator.internal.ui.eventbeditor.manipulation.FormulaAttributeManipulation"
            expandsHorizontally="true"
            foregroundColor="P_REQUIRED_FIELD_BACKGROUND"
            id="org.eventb.codegen.theory.translator.ui.formula"
            isMath="true"
            prefix="Formula: "
            style="single"
            typeId="org.eventb.codegen.theory.translator.core.formula">
      </textAttribute>
      <textAttribute
            class="org.eventb.codegen.theory.translator.internal.ui.eventbeditor.manipulation.TypeFormulaAttributeManipulation"
            expandsHorizontally="true"
            foregroundColor="P_REQUIRED_FIELD_BACKGROUND"
            id="org.eventb.codegen.theory.translator.ui.typeFormula"
            isMath="true"
            prefix="Type Formula: "
            style="single"
            typeId="org.eventb.codegen.theory.translator.core.typeFormula">
      </textAttribute>
      <autoNaming
            attributeDescriptionId="org.eventb.ui.label"
            elementTypeId="org.eventb.codegen.theory.translator.core.translatorRuleElement"
            namePrefix="trns">
      </autoNaming>
      <autoNaming
            attributeDescriptionId="org.eventb.ui.label"
            elementTypeId="org.eventb.codegen.theory.translator.core.translatorTypeRuleElement"
            namePrefix="typeTrns">
      </autoNaming>
   </extension>

</plugin>
